<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="menu1"></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <h3>Esta aplicación fue posible gracias a: </h3>
    <br>
    <ion-item>
    <div>
    <h4>Raymond del Carmen Duran</h4>
    <h5>2020-10148</h5>
    <h5>Telf: 829-303-5614</h5>
    <h5>Telegram: <a href="https://t.me/Raymond2106">https://t.me/Raymond2106</a></h5>
    <img style="width: 80%; margin:0 auto; max-width: 400px;" src='assets/img/ray.jpeg'>
    </div>
    </ion-item>

    <br>
      <ion-item>
        <div>
        <h4>Leonel Alejandro Herrera Perdomo</h4>
        <h5>2020-10142</h5>
        <h5>Telf: 829-468-9947</h5>
        <h5>Telegram: <a href="https://t.me/LeonelAHP">https://t.me/LeonelAHP</a></h5>
        <img style="width: 80%; margin:0 auto; max-width: 400px;" src='assets/img/leo.jpeg'>
        </div>
      </ion-item>

      <br>
      <ion-item>
        <div>
        <h4>Eric Joel Collado Guerrero</h4>
        <h5>2020-10141</h5>
        <h5>Telf: 849-209-0609</h5>
        <h5>Telegram: <a href="https://t.me/EricJCollado">https://t.me/EricJCollado</a></h5>
        <img style="width: 80%; margin:0 auto; max-width: 400px;" src='assets/img/eric.jpg'>
        </div>
      </ion-item>
  </ion-list>
</ion-content>
