<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="menu2"></ion-menu-button>
    </ion-buttons>
    <ion-title>Menú</ion-title>
    <ion-buttons slot="end" (click)="CerrarSesion()"> Sign Out</ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content>
<ion-list>
  <ion-item>
    <img src="../../assets/img/LogoApp.png" width="300px"/>
  </ion-item>
  <h4>En este menú podrá: </h4>
  <ion-item>
    Ver las noticias
  </ion-item>
  <br>
  <ion-item>
    Reportar una situación
  </ion-item>
  <br>
  <ion-item>
    Ver las situaciónes registradas
  </ion-item>
  <br>
  <ion-item>
    Ver en el mapa el punto de los reportes
  </ion-item>
  <br>
  <ion-item>
    Cambiar la contraseña de su usuario
  </ion-item>

</ion-list>

</ion-content>
