
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <img style="width: 80%; margin:0 auto; max-width: 400px;" src="assets/img/logoDefensa.png" alt="">
    </ion-item>
    <br>
    <swiper>
      <ng-template swiperSlide>
        <div>
        <img style="width: 70%; margin:0 auto; max-width: 400px;" src="assets/img/accion1.jpg" alt="">
        <p>¡ENHORABUENA!
          Estamos muy felices, ya que nuestros técnicos, Ariel Peralta Castro y José Rafael Rosario, son parte de la “4ta promoción del Curso Rescate en las Alturas en Sistema de Cable Aéreo”.
        </p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div>
        <img style="width: 90%; margin:0 auto; max-width: 400px;" src="assets/img/accion2.jpg" alt="">
        <p>
          El personal del PMA en conjunto con representantes técnicos de la Defensa Civil Dominicana, Sistema Integrado Nacional de Información y la empresa de servicios orientados a drones UAV Dominicana, validaron la semana pasada el “Proyecto de Actualización de Mapas de Inundaciones con Imágenes de Alta Resolución UAS/DRONES - Preparación y Respuesta ante Emergencias”.
        </p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div>
          <img style="width: 100%; margin:0 auto; max-width: 400px;" src="assets/img/accion3.jpg" alt="">
          <p>
            ¡Una #DefensaCivilRD inclusiva! 👍🏽
            <br>
            Agradecemos a @tvimaginativa por abrirnos las puertas para el lanzamiento oficial de nuestra campaña “Salvando Vidas, Incluyendo a Todos”, una oportunidad que tienen las personas sordas en el país de tener acceso a información relevante ante una emergencia.
          </p>
        </div>
      </ng-template>
      <ng-template swiperSlide>
        <div>
          <img style="width: 100%; margin:0 auto; max-width: 400px;" src="assets/img/accion4.jpg" alt="">
          <p>
            Este viernes personal de la #SedeCentral de la #DefensaCivilRD participó en un conversatorio donde se trataron temas relacionados a evitar la violencia, a propósito de conmemorarse el “Día Internacional de la Eliminación de la Violencia contra la Mujer” 🌷
          </p>
        </div>
      </ng-template>
    </swiper>


    <!-- <ion-item>
      <img style ="width: 100%; margin: 0 auto; max-width: 400px;" src="assets/img/navaja.webp">
    </ion-item>
    <ion-item>
      <div align="justify">
      <p>La navaja suiza (en alemán, Schweizer Offiziersmesser, en italiano, Coltellino svizzero, en francés, Couteau suisse) es una herramienta manual de diversas funciones. Una navaja suiza incluye un cuchillo y varias herramientas más, como destornilladores, tijera, lima y abrebotellas. Estos accesorios se guardan dentro del mango de la navaja mediante un mecanismo que gira alrededor de un pivote.
      </p>
      <p>Al igual que las navajas suizas esta aplicación contará con distintas herramientas y funcionalidades que supliran la necesidad que tengas en el momento, concentrando todo en un solo espacio. Siendo entonces esta app en si misma, una navaja suiza.</p>

      </div> -->



  </ion-list>

</ion-content>
